.vs
*/*/Debug/*
*/Debug/*
Debug/*.exe
Debug/*.ilk
Debug/*.pdb
RemoteSystemsTempFiles/
.metadata/
Textures/1.jpg
Textures/1_earth_8k.jpg
Textures/bluejpg.jpg
Textures/camo.png
Textures/camo2.jpg
Textures/default_specular.jpg
Textures/earthmap1k.jpg
Textures/edif.jpg
Textures/el_sol.jpg
Textures/goku.png
Textures/index-bump.png
Textures/index-normal.png
Textures/index.jpg
Textures/index.xcf
Textures/nube.png
Textures/nube2.png
Textures/pasto-bump.png
Textures/pasto-normal.png
Textures/pasto.png
Textures/pasto.xcf
Textures/test.png
Textures/texturaLadrillos.jpg
objects/AL05_Aesculus_hippocastanum_Horse_Chestnut_3DS.zip
objects/Big_Hero_6/
objects/Coca-Cola/
objects/Confederate_Pistol/
objects/Lamborginhi Aventador FBX.zip
objects/TrexModelByJoel3d_FBX/
objects/Wolf/
objects/cyborg/
objects/dodge/
objects/lamborginhi/
objects/nanosuit/
objects/planet/
objects/predator/
objects/rock/
objects/samus/
objects/tank/
objects/tree.zip
objects/ufo/
